# ====== AWS S3 Configuration ======
AWS_ACCESS_KEY_ID=your_access_key_from_iam_user
AWS_SECRET_ACCESS_KEY=your_secret_key_from_iam_user
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=jobzy-resumes-prod

# ====== Database ======
DATABASE_NAME=jobzy_db
DATABASE_USER_NAME=postgres
DATABASE_PASSWORD=your_password
HOST_NAME=jobzy-db.xxxxx.us-east-1.rds.amazonaws.com

# ====== App Config ======
NODE_ENV=production
PORT=4000
FRONTEND_URL=https://yourdomain.com

# ====== Payment (Razorpay) ======
RAZORPAY_KEY_ID=rzp_live_xxxxx
RAZORPAY_KEY_SECRET=xxxxx
RAZORPAY_WEBHOOK_SECRET=whsec_xxxxx

# ====== AI ======
GOOGLE_AI_KEY=xxxxx
